---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/thoughtbot/factory_girl/contributors
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1385957684'
      Last-Modified:
      - Sat, 30 Nov 2013 11:39:41 GMT
      Etag:
      - '"22c8400857ba76ef23c06513b12e1982"'
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: '[{"login":"joshuaclayton","id":1574,"avatar_url":"https://0.gravatar.com/avatar/786f05409ca8d18bae8d59200156272c?d=https%3A%2F%2Fidenticons.github.com%2F0d4f4805c36dc6853edfa4c7e1638b48.png&r=x","gravatar_id":"786f05409ca8d18bae8d59200156272c","url":"https://api.github.com/users/joshuaclayton","html_url":"https://github.com/joshuaclayton","followers_url":"https://api.github.com/users/joshuaclayton/followers","following_url":"https://api.github.com/users/joshuaclayton/following{/other_user}","gists_url":"https://api.github.com/users/joshuaclayton/gists{/gist_id}","starred_url":"https://api.github.com/users/joshuaclayton/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/joshuaclayton/subscriptions","organizations_url":"https://api.github.com/users/joshuaclayton/orgs","repos_url":"https://api.github.com/users/joshuaclayton/repos","events_url":"https://api.github.com/users/joshuaclayton/events{/privacy}","received_events_url":"https://api.github.com/users/joshuaclayton/received_events","type":"User","site_admin":false,"contributions":384},{"login":"jferris","id":7591,"avatar_url":"https://1.gravatar.com/avatar/7fd56fa98da45bc532e898132085bd05?d=https%3A%2F%2Fidenticons.github.com%2F274231193c4e40abc64d2f2d8cb6b415.png&r=x","gravatar_id":"7fd56fa98da45bc532e898132085bd05","url":"https://api.github.com/users/jferris","html_url":"https://github.com/jferris","followers_url":"https://api.github.com/users/jferris/followers","following_url":"https://api.github.com/users/jferris/following{/other_user}","gists_url":"https://api.githu[...]
